<nav class="grid-container">
    <div class="grid">
        <div>
            <a href="/"><h1>Insightful Blogs</h1></a>
            <p>A Blog Site</p>
        </div>
        <div class="navs">
            <a href="/">Blogs</a>
            <a href="/about">About</a>
        </div>
        <div class="new-blog">
            <a href="/blogs/create">New Blog</a>
        </div>
    </div>
</nav>