<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body class="errorbody">
    <%- include('./partials/nav.ejs') %>

    <div class="errordiv">
        <h2>OOPS!!</h2>
        <p>Page Not Found</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>