<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="aboutdiv">
        <h2>About Us</h2>
        <p>Welcome to Insightful Blogs!</p>
        <p>At Your Perspectives, we are passionate about sharing knowledge, inspiring creativity, and fostering a community of like-minded individuals. Our blog is a platform where we explore a wide range of topics, from technology and lifestyle to travel and personal development.</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>